header {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    padding: 50px;
    background-color: rgb(160, 255, 255);
}

p {
    width: 50%;
    margin-left: 25%;
}

img {
    margin-top: 20px;
    width: 40%;
}

body {
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

footer {
    background-color: rgb(160, 255, 255);
    padding: 10px;
    margin-top: 20px;
    text-align: right;
    font-size: small;
}